<div class="row">
    <% @top_houses.each do |house| %>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <!-- Can replace the following image tag with your actual image using image_tag -->
          <% if house.photos.attached? %>
            <%= image_tag(cl_image_path house.photos.first.key, width: 400, height: 300, crop: :fill) %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= house.address %></h5>
            <p class="card-text">Price: <%= number_to_currency(house.price, precision: 0) %></p>
            <!-- You can customize the card content and add more information here -->
            <%= link_to "Check this out!", house_path(house), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
