<div class="input-group search-input-group">
  <input type="text" class="form-control search-input" placeholder="Building or Address" aria-label="Building or Addresss with Search and Filter">

  <!-- Single Button -->
  <%= link_to houses_path, class: "btn btn-primary search-button", type: "button" do %>
    Search
  <% end %>


  <!-- Button Dropdown -->
  <div class="input-group-append">
    <button class="btn btn-primary dropdown-toggle search-button-dropdown" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>
