.back {
  background-color: #19a8b5;
  color: black;
}

.back:hover {
  text-decoration: underline;
  color: black;
}

.back {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 10px;
}
