.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  background-color: white;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input {
  background-color: white;
  color: rgb(22, 22, 22); /* Change text color if needed */
}
