.search-input-group {
  display: inline-flex;
  align-items: center;

  .form-control {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: #f4f4f4;
    border-radius: 10px 0 0 10px;
    padding: 0.375rem 0.75rem;
  }

  .btn.search-button {
    border: none;
    background-color: #f4f4f4;
    padding: 0.375rem 0.75rem;
    margin-left: -1px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 0 10px 10px 0;

    &:hover {
      color: #216bff;
    }

    &:active {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      border-right: none;
      background-color: #f4f4f4;
    }
  }

  .btn.search-button-dropdown {
    border: none;
    background-color: #f4f4f4;
    padding: 0.375rem 0.75rem;
    margin-left: -1px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 0 10px 10px 0;

    &:hover {
      color: #216bff;
    }

    &:active {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      border-right: 1px solid grey;
      background-color: #f4f4f4;
    }
  }
}
