// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

// general styling
input.greyed-out {
  background-color: #f1f1f1; /* Grey background */
  color: #999; /* Grey text color */
  cursor: not-allowed; /* Show "not-allowed" cursor on hover */
  }
